<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <h5 class="title">DETALLES</h5>

      <div class="modal-body">
        <form [formGroup]="form">
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-12 form-group text-center">
                        <!--<input [(ngModel)]="imagen" formControlName="imagen" id="imagen" class="form-control" type="file"  (change)="onFileSelected($event)" maxlength="46" required />-->
                        <img [src]="heroe.imagenUrl || rutaDefecto" id="imagen"/>
                    </div>
                </div>

                <div class="col-md-6" id="nombre">
                    <div class="col-md-12 form-group text-center">
                        <input [(ngModel)]="heroe.nombre" formControlName="nombre" class="form-control" type="text" maxlength="50" placeholder="Nombre..." required/>
                    </div>
                </div>


                <div class="col-md-11 form-group">
                    <input [(ngModel)]="heroe.imagenUrl" formControlName="imagen" name="url" class="margin-top form-control" type="text" size="200" placeholder="Ruta de la imágen..."/>
                </div>

                <div class="col-md-1 form-group" id="icono" (click)="borrarFoto()">
                    X
                </div>

                <hr>

                <div class="form-group">
                    <div class="label-descripcion">
                        <label for="descripcion" class="margin-top">Descripción</label>
                    </div>
                    <textarea [(ngModel)]="heroe.descripcion" formControlName="descripcion" class="form-control" id="descripcion" style="height: 150px" required></textarea>
                </div>

                <div class="form-group">
                    <input [(ngModel)]="heroe.nacimiento" formControlName="nacimiento" class="form-control" id="nacimiento" type="text" maxlength="73" placeholder="Lugar de nacimiento..." required/>
                </div>

                <div>
                    <button type="button" class="btn btn-primary" (click)="guardar()">Guardar</button>
                    <button type="button" class="btn btn-secondary" (click)="cancelar()">Cancelar</button>
                    <div class="btn papelera" (click)="borrar()">ELIMINAR</div>
                </div>

            </div>
        </form>
      </div>
  </div>
